*{
	margin: 0;
	padding: 0;
}

.navbar-default{
	margin-bottom: 0px;/*Remove espaço entre o carousel de imagens e o menu da pagina home*/
}

/*Style Nosso Canal no Youtube*/
.col-md-4 h4{
	margin-top: 5%;
}